language: python

dist: xenial

matrix:
  include:
    - python: 3.7
      env: TOXENV=py37
    - python: 3.7
      env: TOXENV=coverage
    - python: 3.7
      env: TOXENV=pep8

install:
  pip install tox

script:
  tox

notifications:
  email: false
